body{
	background: black;
}

/* Scrollbar */

::-webkit-scrollbar{
   width: 8px;
}

::-webkit-scrollbar-track{
   border-radius: 50px;
   background: rgba(119, 119, 119, 0);
}

::-webkit-scrollbar-thumb{
   background: #d49024;
   border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
   background: #b57b1f;
   border-radius: 50px;
}