body{
    background: rgb(6, 6, 6);
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.banner1{
    width: 99.8%;
    height: 99.2vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.banner1 iframe{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

.btn{
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    font-weight: bold;
    background: #ff0000;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* *********** Responsiveness of header ************** */
@media (min-width : 1300px){

}
@media (min-width : 1499px){

}

@media only screen and (min-width:1200px ) and (max-width : 1366px){

}

@media (min-width:992px){

}
@media (max-width:991px){

}
@media (min-width : 576px){
    
}

@media (min-width : 1499px){

}

@media (max-width : 479px){
    .banner{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .banner video{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 60%;
        pointer-events: none;
        transform: translate(0%, -40%);
    }
}

/* header menu responsiveness  */
@media screen and (min-width : 1200px){

}
@media screen and (max-width : 4000px) and (min-width : 1200px){

}
@media (max-width :991px){
    .banner{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    
    .banner video{
        position: absolute;
        top: 50%;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 40%;
        pointer-events: none;
        transform: translate(0%, -60%);
    }
}