.symbols{
    margin-left: 1rem!important;
    width: 30px;
}

.symbols1{
    margin-left: 0.5rem!important;
    width: 25px;
}

.ml-10{
    margin-left: 0.3rem;
    color: rgba(255, 255, 255, 0.671);
}

.symbols2{
    margin-left: 0rem!important;
    width: 30px;
}